<h1>Floatilla</h1>
<h2>River Beta and Flow Data</h2>
<br>
<h2>API routes available:</h3>
<h3>Base URL:</h4>
<h4>http://floatilla.herokuapp.com/api/v1/</h4>
<br>
<br>
<br>
<h3>All Gauge Data: /gauges</h4>
<h4>Single Gauge: /gauges/:gauge_id</h4>
<br>
<h3>All Rivers: /rivers</h4>
<h4>Single River: /rivers/:river_id</h4>
<br>
<h3>List Runs for a River: /rivers/:river_id/runs</h4>
<h4>Single Runs: /rivers/:river_id/runs/:id</h4>
<br>

