<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

%div{:class => 'header'}
  %h1 Floatilla

  - @gauges.each do |gauge|
    = gauge.name
    = gauge.lat
    = gauge.long

%div{:class => "map-body"}
  %div{:id => "map"}
